@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@User.Identity.Name
<div class="text-center">
    <img src="/images/main-banner-1.png" alt="" />
</div>
@section Scripts{
    <script src="/js/index.js" asp-append-version="true"></script>
}
