@page
@model WorkFloo.WebApp.Pages.Products.IndexModel
@{
}
@section Scripts {
    <script src="/js/products.js" asp-append-version="true"></script>

}
<div class="block w-full">

    <table id="productsTable" class="mdl-data-table" style="width:100%">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Product Name
                </th>
                <th>
                    Barcode
                </th>
                <th>
                    Price
                </th>
                <th>
                    Actions
                </th>

            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
